{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="">
    <div class="container-a">
        <div class="top_about">
            <span>About Us</span>
            <br>
            <h3 style="color: #007bff;">Unlock the Power of Established Social Media Presence with Logsplace</h3>

        </div>
        <div class="m-about">
            <p>
                In today's digital age, social media has become an indispensable tool for individuals, businesses, and influencers alike to connect, engage, and grow their online presence. However, builing a strong following and establishing credibility on social media platforms can be a time-consuming and challenging endeavor. That's where Logsplace comes in - your ultimate destination to unlock the power of Established social media presence
            </p>
            <div class="f_four_items" style="display: flex; font-size: 13px; justify-content: space-around;">
                <div class="first">
                    <p>Instant Credibility</p>
                </div>
                <div class="second">
                    <p>Targeted Audience</p>
                </div>
            </div>
            <div class="s_four_items" style="display: flex; font-size: 13px; justify-content: space-around;">
                <div class="third">
                    <p>Save Time and Effort</p>
                </div>
                <div class="fourth">
                    <p>Strategic Expansion</p>
                </div>
            </div>
            <div class="img_about">
                <img src="{% static 'img/about.jpg' %}" style="width: 100%;" alt="Ads">
            </div>
        </div>
    </div>
    <div class="blue_part" style="background: #007bff; color: white; display: grid; text-align: center; justify-content: center;">
            <h2 style="height: 1px;">45</h2>
            <h5>Team Members</h5>
            <h2 style="height: 1px;">60</h2>
            <h5>Winning Awards</h5>
            <h2 style="height: 1px;">2000</h2>
            <h5>Happy Clients</h5>
    </div>
    <div class="container-a" style="align-content: center; justify-content: center; text-align: center;">
        <span>We are best at what we do</span>
        <br>
        <p>
            In the modern era of digital connectivity, social media stands as an essential asset for individuals, enterprises, and influencers seeking to forge meaningful connections, foster engagement, and expand their online footprint. Yet, cultivating a robust following and cementing credibility across social platforms demands significant time and effort. Enter our solution - the key to unleashimg the full potential of a distinguished social meadia presence
        </p>
    </div>
</div>
{% endblock content %}