{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="holdthem" style="display: flex; justify-content: center;">
    <div class="verify" style="background: white; height: 200px; align-content: center;">
    <h3 style="text-align: center;">Verify Your Email Address</h3>
        <p style="text-align: center;">
        Verify your Email Address. Before Proceeding, please check your email inbox or spam/junk box for a verification link. If you did not receive the email, please wait for 5-10 mins
        </p>
    </div>
</div>
{% endblock content %}